<footer>

  <div>
      <ul class="nav justify-content-center">
        {% if site.github_username %}
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github"></i> {{ site.github_username }}
            </a>
          </li>
        {% endif %}

        {% if site.linkedin_username %}
          <li class="nav-item">
            <a class="nav-link" href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <i class="fa fa-linkedin"></i> {{ site.linkedin_username }}
            </a>
          </li>
        {% endif %}
      </ul>
  </div>

</footer>
