<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      Ethan Harris
    </a>
    <span>
      {% if site.github_username %}
        <a class="navbar-brand" href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i>
        </a>
      {% endif %}
      {% if site.linkedin_username %}
        <a class="navbar-brand" href="https://linkedin.com/in/{{ site.linkedin_username }}">
          <i class="fa fa-linkedin"></i>
        </a>
      {% endif %}
    </span>
  </div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% for link in site.navigation %}
        {% if page.url == link.url or page.layout == link.layout %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ link.url | remove: '.html' }}">{{ link.text }} <span class="sr-only">(current)</span></a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.url | remove: '.html' }}">{{ link.text }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div> -->
</nav>
