.bg-primary {
  background-color: #3c84dd !important;
}

.bg-secondary {
  background-color: #e9f1fb !important;
}

.head-link {
  font-size: 1.25rem !important;
}

a {
  color: #3c84dd;
}

.figure {
  max-height: 300px;
}
