---
layout: default
---
<div>

  <div class="jumbotron bg-secondary mt-4 mb-4">
    <h1>{{ page.title }}</h1>
    <h3>{{ page.excerpt }}</h3>
    <p>{{ page.date | date: "%b %-d, %Y" }}</p>
  </div>

  <hr>

  <div>
    {{ content }}
  </div>

  {% if page.comments %}
    <div id="disqus_thread"></div>
    <script async>
    var disqus_config = function () {
    this.page.url = page.url;
    this.page.identifier = page.id;
    };

    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://ethan-harris-blog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}

</div>
